@import url(base.css);

*
{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

ul.normal, ol.normal
{
    padding-left: 2em;
}

ul.normal li, ol.normal li
{
    padding: 0.5em;
}

/*img
{
    sborder: 0.25em solid transparent;
}*/

#container
{
    border:1px solid black;
    margin: auto;/*1em 5em;*/
    width: 90%;
    max-width: 75em;
    min-width: 50em;
    background-color: white;
}

body
{
    background-color: #eee;
    padding: 1em;
}

p
{
    padding: 0.5em;
    line-height: 1.4375em;
}

h1
{
    font-weight: normal;
    font-size: 1.75em;
    margin: 0.5em 2em 0.5em 0.25em;
    border-bottom: 2px solid #aba;
}

a
{
    color: #14d;
}

a:hover
{
    text-decoration: none;
}

a:visited
{
    color: #766;
}

#header
{
    width: 100%;
    soverflow:hidden;
}

#logo
{
/*                 0.5em;*/
    font-size: 2em;

    float:left;
    display:block;

/*    background-image: url('http://static.carl-goelles.at//pic/70.jpg');*/
    width: 100%;
}

#logo a
{
    margin: 0.5em;
    display: block;
    color: #efe;
    text-decoration: none;
}

#mainmenu
{
    float: left;
    width: 100%;
    spadding: 0.25em;
    border:1px solid black;
    border-width: 1px 0;
}

#mainmenu ul
{
    float: left;
    padding: 0.25em;
    list-style: none;
}

#mainmenu li
{
    float: left;
    padding: 0.25em;
}

#mainmenu li a
{
    color: #333;
    text-decoration: none;
}

#mainmenu li a:hover
{
    text-decoration: underline;
}

#body
{
    clear: both;

    /* mit Breitenangabe nimmt IE f端r .withsidebar die richtige Breite */
    width: 100%;
}

#sidebar
{
    float: left;
    width: 15%;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

#sidebar li
{
    list-style: none;

    /* f端r IE, sonst zerlegt er das Men端 */
    display: inline;
}

#sidebar li a, #sidebar .selected
{
    display: block;
    padding: 0.5em;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background: #eee;
    color: #222;
}

#sidebar li a:hover
{
    background: #aaa;
}

#sidebar .selected
{
    background: #ccc;
    color: #333;
    font-weight: bold;
}

.withsidebar
{
    float: right;
    width: 83%;
}

#footer
{
    position: relative;
    clear: both;
    border-top:1px solid black;
    text-align: right;
    width: 100%; /* f端r IE */
    font-size: 0.875em;
}

#footermenu
{
    width: 75%;
    /*position: absolute;
    right: 0;*/
    list-style: none;
    padding: 0.25em;
    float: right;
    display: inline;
}

#footermenu li
{
    float: right;
    padding: 0.25em;
}

#footermenu li a
{
    color: #14d;
}

#copyinfo
{
    float: left;
    padding: 0.5em;
    display: block;
}

.pics
{
    width: 800px;
}

.pics .pic
{
    width: 208px;
    height: 208px;
    float: left;
    border: 1px solid gray;
    margin: 8px;
    spadding: 4px;
}

.pics .pic a
{
    text-align: center;
    vertical-align: middle;
    display: block;/* vielleicht hilfts bei nicht-table-cell-Kenner-Browsr*/
    display: table-cell;
    width: 208px;
    height: 208px;
}

/* Gallery */
.pics .pic img
{
/*                padding: 4px;*/
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    border: none;display:block;
}

.newsbox
{
    max-width: 60em;
}

.newsbox h2
{
    font-size: 1.2em;
    font-weight: normal;
    padding: 0.5em;
    background-color: #ccc;
    border-bottom: 1px solid gray;
    margin: 0;
}

.newsbox .news
{
    border: 1px solid gray;
    margin: 0.5em 1em;
}

.leftbox
{
    float: left;
}

.rightbox
{
    float: right;
}

.newsbox .navbox
{
    padding: 0 2em;
    max-width: 59em;
}

.op-menu
{
    clear: both;
    margin: 0.875em 3em 0.875em 0.4375em;
}

.op-menu ul
{
    float:left;
    list-style: none;
    width: 100%;
}

.op-menu li
{
    float: left;
    padding: 0.5em;
}

.op-menu a:visited
{
    color: #14d;
}

.move-cat-up, .add-picture, .cat-add, .article-add, .article-item, .cat-item, .pic-delete-item
{
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

.move-cat-up
{
    background-image: url('http://static.carl-goelles.at/icon/silk/arrow_up.png');
}

.add-picture
{
    background-image: url('http://static.carl-goelles.at/icon/silk/picture_add.png');
}

.cat-add
{
    background-image: url('http://static.carl-goelles.at/icon/silk/folder_add.png');
}

.article-add
{
    background-image: url('http://static.carl-goelles.at/icon/silk/report_add.png');
}

.article-item
{
    background-image: url('http://static.carl-goelles.at/icon/silk/report.png');
}

.cat-item
{
    background-image: url('http://static.carl-goelles.at/icon/silk/folder.png');
}

.pic-delete-item
{
    background-image: url('http://static.carl-goelles.at/icon/silk/picture_delete.png');
}

.object-list li
{
    list-style: none;
    padding: 0.375em 0.5em;
    border: 1px solid transparent;
    padding:0.5em;
    list-style: none;
}

table.object-list
{
    margin: 0.5em;
    border:none;
    border-collapse: collapse;
}

table.object-list tr td
{
    padding: 0.25em;
}

table.object-list .name
{
    width:15em;
}

table.object-list tr:hover
{
    background: #cdf;
}

table.object-list a
{
    display: block;
}

table.object-list a img
{
    border: none;
}

.pic-list li
{
    float:left;
    list-style: none;
    padding:1em;
    background-color: #ddd;
    max-width: 200px;
    margin:0.5em;
}

.pic-list li a
{
    text-decoration:none;
    display:block;
    text-align:center;
    width:200px;
    height: 200px;
}

.pic-list li a img
{
    margin:auto;
    border:none;
}

.bar
{
    border: 1px solid black;
    width: 20em;
    margin: 0.5em 0;
    height:1.2em;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
    position: relative;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.bar .value
{
    background-color:gray;
    float: left;
    height:1.2em;
    background-color: #9c6;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.bar .critical
{
    background-color: #e32;
}

.bar .text
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.spaceinfo
{
    border-collapse: collapse;
    margin: 0.5em 0;
    width: 27em;/* damit gleich breit wie totalSpace (totalSpace.width+totalSpace.padding*2+totalSpace.margin*2 */
}

.spaceinfo td, .spaceinfo th
{
    border: 1px solid black;
    padding: 0.5em;
}

.spaceinfo .filecount, .spaceinfo .space-percent, .spaceinfo .space
{
    text-align:right;
}

.totalSpace
{
    border: 1px solid #666;
    background: #eee;
    padding: 1em;
    width: 25em;
    margin: 1em 0;
}

.totalSpace p
{
    padding-left: 0;
    padding-right: 0;
}

/*h2
{
    font-size: 1.2em;
    font-weight: normal;
}*/